

.vs/
x64/
Debug/
Release/

*.obj
*.pdb
*.ilk



build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json



*.exe
*.dll
*.lib
*.a
*.o



.vscode/
.idea/


.DS_Store
Thumbs.db